
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=faculty_issue_db
POSTGRES_APP_USER=app_user
POSTGRES_APP_PASSWORD=your_app_password_here
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgres://app_user:your_app_password_here@localhost:5432/faculty_issue_db
